<% content_for :title, "New comentario" %>

<div class="comentario-form">
<h1>Nuevo Comentario</h1>
<%= render "form", comentario: @comentario %>
</div>
<br>

<div>
  <%= link_to "Regresar a Comentarios", comentarios_path %>
</div>
