<% content_for :title, "Editing categorium" %>

<div class="edit-usuario-container">
<h1>Editar categoria</h1>

<%= render "form", categorium: @categorium %>

<br>

<div>
  <%= link_to "Mostrar categoria ", @categorium %> |
  <%= link_to "Regresar a Categorias 👈", categoria_path %>
</div>
</div>