<p style="color: green"><%= notice %></p>

<% content_for :title, "Categoria" %>

<h1>Categorias</h1>
<%= link_to "Nueva CategoriÌa", new_categorium_path , class: "link-new-categoria"%>


<div id="categoria">
  <% @categoria.each do |categoria| %>
    <div class="categoria-item">
      <%= render categoria %>
      <p>
        <%= link_to "Mostrar categoria", categoria %>
      </p>
    </div>
  <% end %>
</div>

