<% content_for :title, "Editing usuario" %>

<div class="edit-usuario-container">
  <h1>Editar usuario</h1>

  <%= render "form", usuario: @usuario %>

  <br>

  <div>
    <%= link_to "Mostrar usuario 👤", @usuario %> |
    <%= link_to "Regresar a usuarios 👈", usuarios_path %>
  </div>
</div>
