<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>

<h1>Usuarios</h1>

<%= link_to " + Agregar nuevo usuario", new_usuario_path, class: "link-new-usuario" %>

<div id="usuarios">
  <% @usuarios.each do |usuario| %>
    <div class="usuario-item">
      <%= render usuario %>
      <p>
        <%= link_to "Mostrar usuario", usuario %>
      </p>
    </div>
  <% end %>
</div>

