<% content_for :title, "New usuario" %>

<div class="container">
  <h1>Nuevo usuario</h1>

  <%= render "form", usuario: @usuario %>

  <br>

  <div>
    <%= link_to "Regresar a usuarios 👈", usuarios_path, class: "back-link" %>
  </div>
</div>
