<p class="notice"><%= notice %></p>

<% content_for :title, "Artículos" %>

<h1>Artículos</h1>

<%= link_to "Nuevo artículo", new_articulo_path, class: "link-nuevo-articulo" %>

<div id="articulos">
  <% @articulos.each do |articulo| %>
    <div class="articulo-item">
      <%= render articulo %>
      <p>
        <%= link_to "Mostrar este artículo", articulo%>
      </p>
    </div>
  <% end %>
</div>

