<% content_for :title, "New articulo" %>


<div class="articulo-form">
<h1>Nuevo Articulo</h1>
  <%= render "form", articulo: @articulo %>
</div>

<br>

<div>
  <%= link_to "Regresar a Articulos 👈", articulos_path %>
</div>
